.center {
    text-align: center;
}

.title01 {
    background-color: #FF6034;
    color: #FFC934;
    font-weight: 800;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100px;
}

.list01 {
    font-weight: 600;
}

ol, ul {
    font-size: 24px;
}

.goHome {
    background-color: #34FF56;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 42px;
}