.center {
    text-align: center;
}

.title01 {
    background-color: #FF6034;
    color: #FFC934;
    font-weight: 800;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 100px;
}

.list01 {
    font-weight: 600;
}